$primary-color: rgb(14, 38, 64);
$font-family: IRANSans, 'Vazir', 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
$layout-sider-background: rgb(14, 38, 64);
$menu-bg: rgb(14, 38, 64);
$menu-item-active-bg: transparent;
$menu-highlight-color: rgb(42, 255, 207);
$menu-item-color: rgb(42, 255, 207);
$layout-body-background: #f6f7f8;
$table-row-hover-bg: #fff;
$table-header-bg: #fff;
